.App {
  text-align: center;
}
/* Display.css */

.container {
  color: white;
}

.search-input {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
  width: 40%;
  height: 15px;
}

.search-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  transition: background-color 0.2s ease-in-out;
}

.display-container {
  color: white;
 font-weight: bold;
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  margin: auto;
  margin-top: 10px;
}